.search-header {
  position: absolute;
  top: 25px;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0 10px;
  .search-input {
    flex: 1;
    background-color: #fff;
    height: 34px;
    line-height: 24px;
    padding: 5px 5px 5px 8px;
    border-radius: 5px;
    margin: 0 10px;
    // display: flex;
    .location {
      // display: flex;
      margin-right: 12px;
      .icon-arrow {
        font-size: 12px;
        color: #7f7f80;
        margin-left: 2px;
      }
    }
    .search-text {
      // display: flex;
      border-left: 1px solid #e5e5e5;
      padding-left: 12px;
      .icon-seach {
        font-size: 15px;
        color: #9c9fa1;
        vertical-align: middle;
      }
      .icon-seach-placeholder {
        font-size: 13px;
        padding-left: 4px;
        color: #9c9fa1;
      }
    }
  }
  .icon-map {
    font-size: 25px;
    color: #fff;
  }
}

.swiper {
  height: 211px;
}

.nav {
  padding: 10px 0;
  .am-flexbox-item {
    text-align: center;
    img {
      width: 48px;
    }

    h2 {
      font-size: 13px;
      margin-top: 7px;
    }
  }
}

.group {
  padding: 0 10px;
  background-color: #f6f5f6;
  .group-top {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 10px;
    .group-top-text {
      font-size: 15px;
    }
    .group-top-more {
      color: #787d82;
      font-size: 14px;
      font-weight: normal;
    }
  }
  .group-content {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: space-around;
    .group-item {
      flex-basis: 50%;
      display: flex;
      width: 50%;
      .group-item-wrapper {
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px 0;
        .group-text {
          display: flex;
          flex-direction: column;
          .group-title {
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 5px;
          }
          .group-desc {
            font-size: 12px;
            color: #999;
          }
        }
        .group-img {
          width: 55px;
        }
      }
    }
    > :nth-child(1) {
      padding: 0 5px 5px 0;
    }
    > :nth-child(2) {
      padding: 0 0 5px 5px;
    }
    > :nth-child(3) {
      padding: 5px 5px 10px 0;
    }
    > :nth-child(4) {
      padding: 5px 0 10px 5px;
    }
  }
}

.news {
  padding: 10px;
  .news-title {
    margin: 10px 0 5px 10px;
    font-size: 15px;
  }
  .news-wrapper {
    margin: 0 8px;
    .news-item {
      display: flex;
      justify-content: space-between;
      padding: 15px 10px 15px 0;
      border-bottom: 1px solid #e5e5e5;

      &:last-child {
        border: 0;
      }

      .news-img {
        width: 120px;
      }
      .news-desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 12px;
        .news-text {
          font-size: 14px;
        }
        .news-bottom {
          display: flex;
          justify-content: space-between;
          font-size: 12px;
          color: #9c9fa1;
        }
      }
    }
  }
}
